---
import AdminParqueaderos from '../components/AdminParqueaderos';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Welcome to Astro.">
    <div class=" flex-col  min-h-screen bg-cover bg-center bg-no-repeat bg-fixed flex justify-center items-center" style={{ backgroundImage: 'url("/images/fond.png")' }}>
        <div class="flex flex-col md:flex-row justify-center w-full max-w-4xl space-y-4 md:space-y-0 p-4">
            <AdminParqueaderos client:load />        
        </div>
    </div>
</Layout>


