---
// Importa el componente JSX
import ParkDetail from '../components/ParkDetail.jsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenido a Parqueadero">
  <main>
    <ParkDetail client:load/>
  </main>
</Layout>
