---
import Layout from "../layouts/Layout.astro"

import Parqueaderos from '../components/Parqueaderos.tsx';

// Define la interfaz para los parqueaderos
interface Parqueadero {
    id: string;
    ImagenPortada?: string | null;  
    Nombre?: string | null;
    Direccion?: string | null;
    TarifaHora?: number | null;
    TarifaDia?: number | null;
    TarifaMensual?: number | null;
}

// Inicializa parqueaderos como un array vacío
let parqueaderos: Parqueadero[] = [];

// Función para obtener los datos de los parqueaderos
const fetchParqueaderos = async () => {
    try {
        const response = await fetch('http://localhost:2402/api/Parqueadero/parqueadero'); // Cambia esto por la URL de tu API
        if (!response.ok) {
            throw new Error('Error al cargar los parqueaderos');
        }
        parqueaderos = await response.json();
    } catch (error) {
        console.error(error);
        parqueaderos = []; // Manejo de errores
    }
};

// Llamada a la función para obtener los datos al cargar la página
await fetchParqueaderos();
---

<Layout title="Welcome to Astro.">
    <div class=" flex-col  min-h-screen bg-cover bg-center bg-no-repeat bg-fixed flex justify-center items-center" style={{ backgroundImage: 'url("/images/fond.png")' }}>
        <div class="flex flex-col md:flex-row justify-center w-full max-w-4xl space-y-4 md:space-y-0 p-4">
            <Parqueaderos parqueaderos={parqueaderos} client:load/>
        </div>
    </div>
</Layout>
