---
// Importa el componente Login desde la carpeta de componentes
import Ingreso from '../components/login.tsx';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <title>QuickPark - Inicio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main>
      <Ingreso client:load />
    </main>
  </body>
</html>
